@page
@model HotelRazorUI.Pages.RoomSearchModel
@{

}

<div>
    <form method="post">
        <div class="form-group">
            <label>Arrival date</label>

            @if (Model.IsSearched)
            {
                <input type="date" name="ArrivalDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" value="@Model.ArrivalDate.Date.ToString("yyyy-MM-dd")" />

            }
            else
            {
                <input type="date" name="ArrivalDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" value="@DateTime.Today.ToString("yyyy-MM-dd")" />

            }
        </div>
        <div class="form-group">
            <label>Departure date</label>

            @if (Model.IsSearched)
            {
                <input type="date" name="DepartureDate" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" value="@Model.DepartureDate.Date.ToString("yyyy-MM-dd")" />

            }
            else
            {
                <input type="date" name="DepartureDate" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />

            }
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
@if (Model.AvailableRoomTypes?.Count > 0)
{
    <br />
    <br />
    <h2>Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room type</th>
                <th>Price per night</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var roomType in Model.AvailableRoomTypes)
            {
                
                var routeData = new Dictionary<string, string>
                    {
                    // TODO: pokusaj sa formatom MM-dd-yyyy da bi URL-ovi bili citljivi
                        { "ArrivalDate", Model.ArrivalDate.Date.ToString("MM/dd/yyyy") },
                        { "DepartureDate", Model.DepartureDate.Date.ToString("MM/dd/yyyy") },
                        { "RoomTypeId", roomType.Id.ToString() }
                    };
                

                <tr>
                    <td>
                        <strong>@roomType.Title</strong><br />
                        @roomType.Description
                    </td>
                    <td>
                        @string.Format(new System.Globalization.CultureInfo("en-US"),"{0:C}", roomType.PricePerNight)
                    </td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-page="/BookRoom" asp-all-route-data="routeData">Book Now</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
